.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.successResult td:last-child{
  text-align: right;
}

.successResult td {
  padding: 8px;
}

.title {
  font-size: 28px;
}